:root {
    --cor: #fff;
}
.neon {
    font-size: 100px;
    font-weight: 800;
    font-family: 'Yeseva One', cursive;
    text-decoration: none;
    display: inline-block;
    color: var(--cor);
    padding: 16px 64px;
    border-radius: 16px;
    position: relative;
    text-transform: uppercase;
}
.neon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 128px 32px var(--cor);
    opacity: 0;
    background-color: var(--cor);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon:hover:before,
.neon:hover:after {
    opacity: 1;
}

.neon:hover {
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
}


@media screen and (min-width: 480px) {
    .neon {
            font-size: 150px;
        }
}

@media screen and (min-width: 640px) {
    .neon {
            font-size: 200px;
        }
}