section {
    width: 100vw;
    height: 30vh;
    display: flex;
    
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    
}

section:nth-of-type(1) {
    background-color: black;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

section:nth-of-type(2) {
        background-image: url('/assets/divas/beyoncé.png');
        height: 100vh;
        background-position: center top;

    }

section:nth-of-type(4) {
    background-image: url('/assets/divas/madonna.png');
    height: 100vh;
    background-position: center;

}

section:nth-of-type(6) {
    background-image: url('/assets/divas/rihanna.png');
    height: 100vh;
    background-position: center top;

}
section:nth-of-type(8) {
    background-image: url('/assets/divas/miley.png');
    height: 100vh;
    background-position: center top;

}
section:nth-of-type(10) {
    background-image: url('/assets/divas/sia.png');
    height: 100vh;
    background-position: center top;

}

section:nth-of-type(12){
        background-image: url('/assets/divas/gaga.png');
        height: 100vh;
        background-position: left top;

    }

@media only screen and (max-width: 400px) {
        section:nth-of-type(7) {
            background-position-x: 30%;
            }
        section:nth-of-type(11) {
            background-position-x:30%;
        }
 }